
html { 
    background: url("https://images.pexels.com/photos/1236044/pexels-photo-1236044.jpeg") no-repeat center center fixed; 
   
    background-size: cover;
}

h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 350%; 
  color:  #8CA1B1;
  text-shadow: 
  2px 0 0 #000, 
  -2px 0 0 #000, 
  0 2px 0 #000, 
  0 -2px 0 #000, 
  1px 1px #000, 
  -1px -1px 0 #000,
  1px -1px 0 #000, 
  -1px 1px 0 #000;
  margin-bottom: 0.2%
}

body {
    margin: auto;
    max-width: 700px;
    padding: 20px 200px 20px 200px;
}


.trouble{    
    text-align: center;
    margin: 100px 150px;
    width: 500px;
    padding: 20px 25px ;
    box-sizing: border-box;
    background-color: lightblue;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 18%;
    margin-left: 13%;
}
.welcome {
    font-family: 'Alegreya', serif;
    font-size: 200%;
    color: slategrey;
}

.explanation{
    font-family: 'Old Standard TT', serif;
    font-size: 130%;

}

.startbutton {
    font-family: 'Shadows Into Light', cursive;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 150%;
    padding: 1% 0.5% 0.2% 0.05% ;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
    
  }

.chat {
    border: 2px solid #dedede;
    font-size: 200%;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1%;
    height: 180px;
    width: 300px;
    margin-top: 0%;
    margin-bottom: 8%;
    margin-right: 18%;
    margin-left: 5%;
}

.enterdata {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-right: 8%;
    margin-left: 8%;
    display: flex;
}

.textenternumber{
    font-family: 'Old Standard TT', serif;
    font-size: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;  
    font-weight: bolder;
    background-color: white;

}
.textentermessage{
    font-family: 'Old Standard TT', serif;
    font-size: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;  
    font-weight: bolder;
    background-color: white;

}

#cipherbutton{

    font-family: 'Shadows Into Light', cursive;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
}



.buttonsdecipher {
    
    margin-top: 0%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 52%; 

}
#decipherbutton, #clean
{
    font-family: 'Shadows Into Light', cursive;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
}

#messagetodecipher{

   padding-bottom: 4%;
   padding-top: 3%;
   padding-left: 3%;
   padding-right: 2%;
   margin-top: 0%;
   margin-bottom: 10%;
   margin-right: 30%;
   margin-left: 25%;
   font-size: 150%;


}