body {
    margin: 0 auto;
    max-width: 800px;
    padding: 20 20px;
    background-image: url("https://images.pexels.com/photos/1236044/pexels-photo-1236044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" )

}

.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

trouble {
    text-align: center;
    color: slategrey
    font-size: 400px
    font-family: "Times New Roman" 
    
}
